openai==0.28.1
google-generativeai==0.2.0
google-cloud-aiplatform==1.34.0
langchain==0.0.306
python-telegram-bot==20.5
streamlit==1.27.1
unstructured==0.10.18
pypdf==3.16.2
pdf2image==1.16.3
google-auth==2.23.2
tiktoken==0.5.1
pinecone-client==2.2.4
lancedb==0.3.0
streamlit_antd_components==0.2.2
