openai
google-generativeai
google-cloud-aiplatform
langchain
python-telegram-bot
streamlit==1.27.1
unstructured==0.10.18
pypdf==3.16.2
pdf2image==1.16.3
google-auth==2.23.2
tiktoken==0.5.1
pinecone-client==2.2.4
lancedb==0.3.0
streamlit_antd_components==0.2.2
duckduckgo-search==3.9.3
